<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="limite">
      <div class="attending">
        <!-- <h1 class="header-title" style="text-align:center">State of the Map<br>Brasil 2025<br></h1> -->
        
        <img src="{{site.baseurl}}/img/logo/logo-sotmbr-2025-completo.png" alt="Logo SotM Brasil 2025" class="logo-img">
        
        <div class="buttons-flex">
          <a class="header-buttons" href="{{site.baseurl}}/calls/">Chamada para Submissões <br> Academic Track</a>    
          <a class="header-buttons" href="{{site.baseurl}}/academic-track/">Orientação aos Autores <br> do Academic Track</a>    
          <a class="header-buttons" href="https://geopublica.ide.ba.gov.br/" target="_blank" rel="noopener noreferrer">Integração GeoPública</a>
          <a class="header-buttons" href="https://sotm-br.github.io/2025/#sponsors" target="_blank" rel="noopener noreferrer">Organização e Parcerias</a>
          <a class="header-buttons" href="{{site.baseurl}}/programme/">Programação</a>
        </div>

            <!-- <p>
            <h2 style="text-align:center"><a href="https://www.youtube.com/@gistv7661"
                target="_blank" rel="noopener noreferrer">Canal no YouTube!</a></h2>
            </p>

            <p>
            <h2 style="text-align:center"><b><i><a href="https://sotm-br.github.io/2025/presentations/"
                    target="_blank" rel="noopener noreferrer">Apresentações</a></i></b> [<a href="https://sotm-br.github.io/2025/presentations/"
                target="_blank" rel="noopener noreferrer">PDF</a>]</h2>
            </p>

            <p>
            <h2 style="text-align:center"><a href="https://sotm-br.github.io/2025/posters/" target="_blank" rel="noopener noreferrer">Anais e pôsteres</a></h2>
            </p>   -->

            

            <!-- <p>
              <h2 style="text-align:center"><a class="header-buttons" href="{{site.baseurl}}/programme/" target="_blank" rel="noopener noreferrer">Programação</a></h2>
            </p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="credits">
    <!--Logo: Feye Andal &mdash; Background: © Petar Milošević <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>-->
  </div>
</header>
